:root {
  --gradient: linear-gradient(
    45deg,
    #1a1a1a,
    #26243a,
    #c9a34a,
    #b7903b,
    #26243a,
    #0d0d0d,
    #1a1a1a
  );
  --color: #26243a;
  --color2: #b7903b;
  --gradient2: linear-gradient(
    180deg,
    #e5e5e5,
    #ffffff,
    rgb(192, 192, 192),
    #cfcfcf,
    #f7f7f7,
    #dcdcdc
  );
}

body {
  font-family: basic-sans, sans-serif;
  min-height: 100vh;
  font-size: 1.125em;
  line-height: 1.6;
  color: #333;
  background: #ddd;
  background-image: var(--gradient);
  background-size: 400%;
  animation: bg-animation 20s infinite alternate;
}
main {
  width: 60%;
  margin: auto;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.content {
  background: var(--gradient2);
  width: 70vw;
  padding: 3em;
  box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.title {
  margin: 0 0 0.5em;
  text-transform: uppercase;
  font-weight: 900;
  font-style: italic;
  font-size: 6rem;
  line-height: 0.8;
  margin: 0;
  background-image: var(--gradient);
  background-clip: text;
  animation: bg-animation 5s infinite alternate;
  background-size: 400%;
  color: transparent;
}

.fun {
  border: 0;
  cursor: pointer;
  padding: 0.5em 1.5em;
  font-size: 2rem;
  background-image: var(--gradient);
  background-size: 300%;
  background-position: left;
  transition: background-position 1s;
  border-radius: 20px;
  color: rgb(192, 192, 192);
  max-width: 500px;
}

.fun:hover,
.fun:focus {
  background-position: right;
  background-image: var(--gradient);
  background-clip: text;
  color: transparent;
}

#sideButtonRight1 {
  font-weight: bold;
  width: 300px;
  color: transparent;
  position: absolute;
  top: 450px;
  right: 15px;
  padding: 20px 50px 20px 20px;
  margin: 10px;
  background-color: transparent;
  font-size: 1em;
  border: none;
  cursor: pointer;
  letter-spacing: 1px;
  clip-path: none;
}

@keyframes slideIn {
  from {
    transform: translateX(-100vw);
  }
  to {
    transform: translateX(0);
  }
}

body:hover #sideButtonRight1 {
  font-weight: bold;
  color: var(--color);
  padding: 20px 50px 20px 20px;
  background-color: var(--color2);
  clip-path: polygon(
    60% 0%,
    60% 20%,
    0 20%,
    0 80%,
    60% 80%,
    60% 100%,
    100% 51%
  );
  animation: slideIn 0.9s ease-in-out;
}

#sideButtonRight2 {
  font-weight: bold;
  width: 300px;
  color: transparent;
  position: absolute;
  top: 550px;
  right: 15px;
  padding: 20px 50px 20px 20px;
  margin: 10px;
  background-color: transparent;
  font-size: 1em;
  border: none;
  cursor: pointer;
  letter-spacing: 1px;
  clip-path: none;

  @media (max-width: 600px) {
    top: 700px;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-100vw);
  }
  to {
    transform: translateX(0);
  }
}

body:hover #sideButtonRight2 {
  color: var(--color);
  padding: 20px 50px 20px 20px;
  background-color: var(--color2);
  clip-path: polygon(
    60% 0%,
    60% 20%,
    0 20%,
    0 80%,
    60% 80%,
    60% 100%,
    100% 51%
  );
  animation: slideIn 0.9s ease-in;
}

#sideButtonRight3 {
  font-weight: bold;
  width: 300px;
  color: transparent;
  position: absolute;
  top: 650px;
  right: 15px;
  padding: 20px 50px 20px 20px;
  margin: 10px;
  background-color: transparent;
  font-size: 1em;
  border: none;
  cursor: pointer;
  letter-spacing: 1px;
  clip-path: none;
}

@keyframes slideIn {
  from {
    transform: translateX(-100vw);
  }
  to {
    transform: translateX(0);
  }
}

body:hover #sideButtonRight3 {
  color: var(--color);
  padding: 20px 50px 20px 20px;

  background-color: var(--color2);
  clip-path: polygon(
    60% 0%,
    60% 20%,
    0 20%,
    0 80%,
    60% 80%,
    60% 100%,
    100% 51%
  );
  animation: slideIn 0.9s ease-out;
}

#sideButtonLeft1 {
  width: 300px;
  color: transparent;
  position: absolute;
  top: 500px;
  left: 15px;
  padding: 20px 20px 20px 50px;
  margin: 10px;
  background-color: transparent;
  font-size: 1em;
  font-weight: bold;
  border: none;
  cursor: pointer;
  letter-spacing: 1px;
  clip-path: none;
  color: transparent;
}

@keyframes slideInToLeft {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(0);
  }
}
body:hover #sideButtonLeft1 {
  color: var(--color2);
  padding: 20px 20px 20px 50px;
  background-color: var(--color);
  clip-path: polygon(
    40% 0%,
    40% 20%,
    100% 20%,
    100% 80%,
    40% 80%,
    40% 100%,
    0 51%
  );
  animation: slideInToLeft 0.9s ease-in-out;
}

#sideButtonLeft2 {
  width: 300px;
  color: transparent;
  position: absolute;
  top: 600px;
  left: 15px;
  padding: 20px 20px 20px 50px;
  margin: 10px;
  background-color: transparent;
  font-size: 1em;
  font-weight: bold;
  border: none;
  cursor: pointer;
  letter-spacing: 1px;
  clip-path: none;
  color: transparent;
}

@keyframes slideInToLeft {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(0);
  }
}
body:hover #sideButtonLeft2 {
  color: var(--color2);
  padding: 20px 20px 20px 50px;
  background-color: var(--color);
  clip-path: polygon(
    40% 0%,
    40% 20%,
    100% 20%,
    100% 80%,
    40% 80%,
    40% 100%,
    0 51%
  );
  animation: slideInToLeft 0.9s ease-in;
}
@media (max-width: 600px) {
  main {
    width: 90%;
  }
  #sideButtonRight1 {
    top: 600px;
    color: var(--color);
  }
  #sideButtonLeft1 {
    top: 650px;
  }
  #sideButtonRight2 {
    top: 700px;
    color: var(--color);
  }
  #sideButtonLeft2 {
    top: 750px;
  }
  #sideButtonRight3 {
    top: 800px;
    color: var(--color);
  }
}

@media (min-width: 1000px) {
  body:hover #sideButtonRight1 {
    animation: slideIn 1.9s ease-in-out;
  }
  body:hover #sideButtonRight2 {
    animation: slideIn 1.9s ease-in;
  }
  body:hover #sideButtonRight3 {
    animation: slideIn 1.9s ease-out;
  }
  body:hover #sideButtonLeft1 {
    animation: slideInToLeft 1.9s ease-in-out;
  }
  body:hover #sideButtonLeft2 {
    animation: slideInToLeft 1.9s ease-in;
  }
}
